*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
}
.search-wrapper{
    display:flex;
    flex-direction: column;
    gap: .25rem;
    
}
input {
    font-size: 1rem;
    border-radius: 50px;
}
.user-cards{
    display: grid;
    grid-template-columns: repeat(autofill, (minmax(15vh,1fr)));
    gap:.25rem;
    margin-top: 1rem;
}
.card{
    border: 1px solid #000;
    background-color: #ffffff;
    padding: .5rem;
}
.card > .header{
    margin-bottom: .25rem;
}
.card > .body{
    font-size: .75rem;
    color: #605e5e;
}
.hide{
    display: none;
}